figure {
  width: 100%;
  /* border: solid 1px black; */
  margin: 0;
}

figcaption {
  margin-top: 1em;
  font-size: 1.35em;
}

img {
  border-radius: 0.5em;
}

.attribution {
  font-size: 0.65em;
}

.image {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
