figure {
  width: 100%;
  margin: 0;
}

.dish-name {
  margin-top: 0.5em;
  font-size: 1.5em;
}

img {
  border-radius: 0.5em;
  box-shadow: 0 0 4px rgba(128, 128, 128, 0.5);
}

.attribution {
  font-size: 0.65em;
}

.image-container {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.swipe-btns {
  margin-top: 0.75em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.swipe-btn {
  background: none;
  background-color: rgb(var(--primary-color));
  color: rgb(var(--background-color));
  border-radius: 50%;
  padding: 0;
  width: 1.75em;
  height: 1.75em;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
  box-shadow: 0 0 2px grey;
}

.attribution a,
a:visited {
  color: rgb(var(--primary-color));
}
