.undoModal {
  background-color: rgba(var(--primary-color), 0.9);
  height: 4em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 4px;
  margin: 1em 1em 0.25em 1em;
  box-shadow: 0 0 1px rgba(var(--primary-color));
}

.message {
  margin: 0 0 0 0.5em;
}

.closeBtn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 2.25em;
  text-align: center;
}

.undoBtn {
  cursor: pointer;
  font-weight: bold;
  background-color: rgb(var(--primary-color));
  border: 1px solid rgb(var(--background-color));
}
