.splashPage {
  background-color: rgb(var(--primary-color));
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(var(--background-color));
}

.loadingSpinner {
  border-color: rgb(var(--background-color)) transparent transparent transparent;
}
